{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "__DEV__": false,
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false
  },
  "env": {
    "node": true,
    "es6": true,
    "jasmine": true,
    "jest": true
  },
  "rules": {

    "semi": ["warn", "never"],
    "semi-style": ["warn", "first"],
    "semi-spacing": ["warn", { "before": false, "after": true }],
    "indent": ["error", 2, { "MemberExpression": 0 }],
    "func-names": [
      "warn",
      "never"
    ]
  }
}